*.*~
*~
*.pyc
*.swp
*.swo

# ignore robotframework files
log.html
output.xml
debug.txt
report.html
foobar.txt

~*
htmlcov
.coverage
build/
MANIFEST
dist/
include/
lib/
test.py
bin/
src/robotframework_requests.egg-info/

# ignore virtuvalenv
venv/*
env/*

