language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
  - "nightly"

install: 
  - "pip install -r requirements.txt"

script:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 -o $TRAVIS_PYTHON_VERSION == 2.7]]; then pybot --noncritical get-cert -P src tests; fi
  - pybot -P src tests
